fastapi>=0.115.2,<1.0.0
python-decouple==3.8
python-dotenv==1.1.1
loguru==0.7.3
pydantic-settings==2.11.0
asyncpg==0.30.0
fastapi_cdn_host==0.9.2
sqlalchemy==2.0.48
redis==7.3.0
celery==5.5.3
croniter==6.0.0
lxml==6.0.2
playwright==1.55.0
python-dateutil==2.9.0.post0
gradio==5.22.0
fake_useragent==1.5.1
requests==2.32.3
openai==2.29.0
psycopg2-binary==2.9.9
drissionpage==4.1.0.18
pymysql==1.1.2